@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url(/fonts/helveticaneueltstd/helveticaneueltstd-bd-webfont.woff2)
        format('woff2');
}

@font-face {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(/fonts/helveticaneueltstd/helveticaneueltstd-roman-webfont.woff2)
        format('woff2');
}
