---
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import image1920x1080 from '@assets/images/1920x1080.jpg';
import TextHero from '@components/TextHero.astro';
import ScreenSplitTwo from '@components/ScreenSplitTwo.astro';
---

<Layout title="informe escorxadors IDRA" includeFooter={false} includeHeader={true} >

	<ScreenSplitTwo title="Origen de l'alimentació">
		<div slot="content1">
			<Image src={image1920x1080} alt="" />
			<ul class="mt-5">
				<li><strong>Soja transgenica Brazil 52% EEUU 22%</strong>. Genera desforestació i vulneracions dels Drets Humans.</li>
				<li>Cargill i Bunge processen la soja que entra pel Port de Barcelona.</li>
				<li>Vall Companys i BonÀrea Fabriquen el pinso.</li>
				<li>Mercabarna Comercialitza cada any 35.000 tones de carn.</li>
				<li>Eix Transversal o eix dels porcs Connecta el Segrià i Osona amb el Port de Barcelona i Europa.</li>
			</ul>
		</div>
		<div slot="content2">
			<div class="image-wrap">
				<p>Petita industria i infraestructures arrelades al territori.</p>
			</div>
		</div>
	</ScreenSplitTwo>

	<TextHero fullHeightCenter={true}>
		<div slot="content1" class="container text-center mx-auto p-4 md:px-8">
			<h1 class="text-4xl lg:text-10xl font-bold mb-8">
				Implicacions econòmiques i ecològiques de dos models oposats
			</h1>
			<p class="mb-12 max-w-2xl mx-auto">
				Una infografia basada en el cas de la finca ecològica Llavora i de l'Escorxador públic-comunitari de l'Armentera.
			</p>
		</div>
	</TextHero>

</Layout>



<style>
	.m-rotate-90-deg {
		transform: rotate(-90deg) translate(-50%, 0);
	}
</style>