---
import Layout from '@layouts/Layout.astro';
import TimelineGsap from '@components/TimelineGsap.astro';
import dataTimelineCa from '@data/ca/timeline';
import TextHero from '@components/TextHero.astro';
---

<Layout
  title="informe escorxadors IDRA"
  includeFooter={true}
  classesHeader="bg-green-100"
>
  <TextHero fullHeightCenter={false} classes="bg-green-100 mb-16">
    <div
      slot="content1"
      class="container text-center mx-auto p-4 md:px-28 md:py-16 lg:px-36"
    >
      <h1 class="text-4xl lg:text-8xl font-bold mb-6">
        Els escorxadors municipals
      </h1>
      <p class="mb-4 max-w-2xl mx-auto">
        Breu història d’una infraestructura clau.
      </p>
    </div>
  </TextHero>
  <TimelineGsap periods={dataTimelineCa} />
</Layout>
