---
import Layout from '@layouts/Layout.astro';
import TextHero from '@components/TextHero.astro';
---

<Layout title="informe escorxadors IDRA" includeFooter={false} includeHeader={false} >
	<TextHero fullHeightCenter={false}>
		<h1 class="text-4xl lg:text-12xl font-bold mb-4" slot="content1">
			Informe Escorxadors
		</h1>
		<div slot="content2" class="grid lg:grid-cols-3">
			<a href="" class="block">Cronologia</a>
			<a href="" class="block">Comparativa</a>
			<a href="" class="block">Mapes</a>
		</div>
	</TextHero>
</Layout>