---
import Layout from '@layouts/Layout.astro';
import TextHero from '@components/TextHero.astro';
import { getLangFromUrl, useTranslations, useTranslatedPath } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const translateString = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<Layout title="informe escorxadors IDRA" includeFooter={false} includeHeader={false} >
	<TextHero fullHeightCenter={false}>
		<h1 class="text-4xl lg:text-12xl font-bold mb-4" slot="content1">
			Informe Escorxadors
		</h1>
		<div slot="content2" class="grid lg:grid-cols-3">
			<a href={translatePath('/cronologia/')} class="block">
				{translateString('navTimeline')}
			</a>
			<a href={translatePath('/comparativa/')} class="block">
				{translateString('navComparative')}
			</a>
			<a href={translatePath('/mapes/')} class="block">
				{translateString('navMaps')}
			</a>
		</div>
	</TextHero>
</Layout>