---
import Layout from '@layouts/Layout.astro';
import TextHero from '@components/TextHero.astro';
---

<Layout title="informe escorxadors IDRA" includeFooter={false} includeHeader={true} >
	<TextHero fullHeightCenter={true}>
		<div slot="content1" class="container text-center mx-auto p-4 md:px-8">
			<h1 class="text-4xl lg:text-10xl font-bold mb-8">
				Els recorreguts de l’Escorxador de l’Armentera
			</h1>
			<p class="mb-12 max-w-2xl mx-auto">
				A subtitle, please.
			</p>
		</div>
	</TextHero>
</Layout>
