---
---

<div class="bg-white py-14">
    <div class="container mx-auto px-4 md:px-8">
        <div class="grid gap-10 lg:grid-cols-2 lg:gap-20">
            A report about …  © 2025 IDRA
        </div>
    </div>
</div>