---
import { Icon } from 'astro-icon/components';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const translateString = useTranslations(lang);
---

<div class="bg-yellow-500 py-14">
  <div class="container mx-auto px-4 md:px-8">
    <div class="grid gap-10 md:grid-cols-2 md:gap-8 text-xs">
      <p class="flex items-center gap-2">
        <Icon name="download" class="text-xs text-black" />
        <a
          href="https://idrabcn.com/wp-content/uploads/2025/12/Infraestructures_per_a_lalimentacio_sostenible_Informe_IDRA.pdf
"
          >{translateString('downloadPDF')}</a
        >
      </p>
      <p class="flex items-center gap-2 md:justify-self-end">
        © 2025 <a href="https://idrabcn.com" class="flex items-center gap-2"
          >IDRA <Icon name="external-link" class="text-xs text-black" />
        </a>
      </p>
    </div>
  </div>
</div>
