---
import {
  getLangFromUrl,
  useTranslations,
  useTranslatedPath,
} from '@i18n/utils';
const lang = getLangFromUrl(Astro.url);
const translateString = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<nav
  class="fixed lg:static top-0 left-0 right-0 h-4/6 lg:h-auto lg:w-auto bg-m-gray-400 lg:bg-transparent z-10 lg:z-auto lg:mx-2"
>
  <div class="grid lg:static place-items-center h-full lg:h-auto">
    <ul
      class="flex gap-x-2 flex-col md:flex-row text-4xl lg:text-xs 2xl:text-sm"
    >
      <li class="">
        <a href={translatePath('/')}>
          {translateString('navHome')}
        </a>
      </li>
      <li class="lg:mx-2">
        <a href={translatePath('/cronologia/')}>
          {translateString('navTimeline')}
        </a>
      </li>
      <li class="lg:mx-2">
        <a href={translatePath('/comparativa/')}>
          {translateString('navComparative')}
        </a>
      </li>
      <li class="lg:mx-2">
        <a href={translatePath('/escorxador-armentera/')}>
          {translateString('navMaps')}
        </a>
      </li>
    </ul>
  </div>
</nav>
