---
interface Props {
	title?: string
}

const {
	title = '',
} = Astro.props;
---

<div class="slide m-bg-split-2">
    <div class="px-4 md:p-18">
        <div class="grid md:grid-cols-2 lg:gap-36">
            <div class="">
                {title !=='' && <h2 class="text-center pb-2 mb-12 border-b border-current uppercase text-xs">{title}</h2>}
                <slot name="content1" />
            </div>
            <div class="">
                {title !=='' && <h2 class="text-center pb-2 mb-12 border-b border-current uppercase text-xs">{title}</h2>}
                <slot name="content2" />
            </div>
        </div>
    </div>
</div>

<style>
	.m-bg-split-2 {
		background: linear-gradient(90deg, var(--color-red-400) 50%, transparent 50%);
	}
</style>