---
interface Props {
  fullHeightCenter?: boolean;
  classes?: string;
}

const { fullHeightCenter = false, classes } = Astro.props;
---

<div
  class:list={[
    'hero-section',
    classes,
    { 'min-h-dvh  flex items-center justify-center': fullHeightCenter },
  ]}
>
  <div>
    <div class="m-a-from-bottom-1">
      <slot name="content1" />
      <div class="m-a-from-bottom-2">
        <slot name="content2" />
      </div>
    </div>
  </div>
</div>

<script>
  import { gsap, fadeIn } from '@lib/gsap';

  const heroSections = document.querySelectorAll('.hero-section');

  heroSections.forEach(section => {
    const element1 = section.querySelector('.m-a-from-bottom-1');
    const element2 = section.querySelector('.m-a-from-bottom-2');

    const tlHero = gsap.timeline({
      scrollTrigger: {
        trigger: section,
        toggleActions: 'play none none reverse',
        start: 'top 30%',
      },
    });

    tlHero.add(fadeIn(element1)).add(fadeIn(element2));
  });
</script>
